@model IEnumerable<Template>
@using Investigator.Utilities;
<a class="m-1 p-2 px-2 text-start text-center btn btn-sm btn-outline-info rounded-1" asp-area="Customer" asp-controller="Home" asp-action="Index">
                <i class="bi bi-arrow-bar-left"></i> Back
 </a>
<div class="row pb-5 mt-5 mb-1">
    @if (Model.Any(u => u.Topic == SD.PersonalTopic))
    {
        <h6 class="fs-5">@SD.PersonalTopic</h6>
        <div class="row">
            @foreach (var template in Model.Where(u => u.Topic == SD.PersonalTopic))
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    @Html.Partial("_Template", template)
                </div>
            }
        </div>
    }

    @if (Model.Any(u => u.Topic == SD.EducationTopic))
    {
        <h6 class="fs-5">@SD.EducationTopic</h6>
        <div class="row">
            @foreach (var template in Model.Where(u => u.Topic == SD.EducationTopic))
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    @Html.Partial("_Template", template)
                </div>
            }
        </div>
    }

    @if (Model.Any(u => u.Topic == SD.ProfessionalTopic))
    {
        <h6 class="fs-5">@SD.ProfessionalTopic</h6>
        <div class="row">
            @foreach (var template in Model.Where(u => u.Topic == SD.ProfessionalTopic))
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    @Html.Partial("_Template", template)
                </div>
            }
        </div>
    }
</div>
