@model IEnumerable<Template>
@using Investigator.Utilities;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@section Stylesheets {
    <link href="~/css/template.css" rel="stylesheet" />
}
<a class="m-1 mb-4 p-2 px-2 text-start text-center btn btn-sm btn-outline-info rounded-1" asp-area="Customer" asp-controller="Home" asp-action="Index">
                <i class="bi bi-arrow-bar-left"></i> @localizer["Back"]
 </a>

@if (Model.Any(u => u.Topic == SD.PersonalTopic))    {
    <div class="row"><h6 class="fs-5">@localizer[SD.PersonalTopic]</h6></div>
<div class="d-flex flex-wrap gap-3">
    <div class="row mb-4">
        @foreach (var template in Model.Where(u => u.Topic == SD.PersonalTopic))
        {
            <div class="card card-menu shadow-sm p-1 m-1">
                <div class="card-body card-menu-body">
                    <partial name="_Template" model="@template" />
                </div>
                <div class="row mt-4">
                    <div class="col text-start">
                        <a asp-area="Admin" asp-controller="Form" asp-action="Generate"
                   asp-route-templateId="@template.TemplateId"
                   class="btn btn-info rounded-1 p-2 py-1" style="font-size: 9px;">
                                @localizer["Tryit"]
                        </a>
                    </div>
                    <div class="col text-end">
                        <a class="btn btn-primary rounded-circle p-2 py-1"
                       asp-area="Admin" asp-controller="Template" asp-action="Details" asp-route-templateId="@template.TemplateId"
                   title="Template Details">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}


@if (Model.Any(u => u.Topic == SD.EducationTopic))
{
    <div class="row"><h6 class="fs-5">@localizer[SD.EducationTopic]</h6></div>
<div class="d-flex flex-wrap gap-3">
    <div class="row mb-4 mt-2">
        @foreach (var template in Model.Where(u => u.Topic == SD.EducationTopic))
        {
            <div class="card card-menu shadow-sm p-1">
                <div class="card-body card-menu-body">
                    <partial name="_Template" model="@template" />
                </div>
                <div class="row mt-4">
                    <div class="col text-start">
                        <a asp-area="Admin" asp-controller="Form" asp-action="Generate"
                   asp-route-templateId="@template.TemplateId"
                   class="btn btn-info rounded-1 p-2 py-1" style="font-size: 9px;">
                            @localizer["Tryit"]
                        </a>
                    </div>
                    <div class="col text-end">
                        <a class="btn btn-primary rounded-circle p-2 py-1"
                       asp-area="Admin" asp-controller="Template" asp-action="Details" asp-route-templateId="@template.TemplateId"
                   title="Template Details">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}

@if (Model.Any(u => u.Topic == SD.ProfessionalTopic))
{
    <div class="row"><h6 class="fs-5">@localizer[SD.ProfessionalTopic]</h6></div>
<div class="d-flex flex-wrap gap-3">
    <div class="row text-start mb-3 mt-2">
        @foreach (var template in Model.Where(u => u.Topic == SD.ProfessionalTopic))
        {
            <div class="card card-menu shadow-sm p-1">
                <div class="card-body card-menu-body">
                    <partial name="_Template" model="@template" />
                </div>
                <div class="row mt-4">
                    <div class="col text-start">
                        <a asp-area="Admin" asp-controller="Form" asp-action="Generate"
                         asp-route-templateId="@template.TemplateId"
                         class="btn btn-info rounded-1 p-2 py-1" style="font-size: 9px;">

                                @localizer["Tryit"]
                        </a>
                    </div>
                    <div class="col text-end">
                        <a class="btn btn-primary rounded-circle p-2 py-1"
                         asp-area="Admin" asp-controller="Template" asp-action="Details" asp-route-templateId="@template.TemplateId">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}

