@model Template
<div class="card h-100">
    <img src="@(Model != null ? $"https://drive.google.com/thumbnail?id={Model.ImageId}" : "https://via.placeholder.com/1200x300")"
         class="card-img-top" alt="Event Image">
    <div class="card-body">
        <h6 class="card-title text-center">
            @(Model != null && !string.IsNullOrEmpty(Model.Title) ? Model.Title : "Empty title") – Template
        </h6>
        <hr>
        <p class="text-center">
            @(Model != null ? Html.Raw(Model.Description) : "")
        </p>
        <div id="questions" class="list-group">
            @if (Model?.Questions.Count > 0)
            {
                foreach (var question in Model.Questions.OrderBy(q => q.Order))
                {
                    <div class="list-group-item m-1" data-question-id="@question.TemplateQuestionId">
                        <input type="hidden" name="questions[@question.TemplateQuestionId].id" value="@question.TemplateQuestionId">
                        <input type="text" name="questions[@question.TemplateQuestionId].text" value="@question.Text"
                       placeholder="Question text" class="form-control mb-2 font-weight-bold" required>
                        <select name="questions[@question.TemplateQuestionId].type" class="form-select">
                            <option value="SingleLine">Single Line</option>
                            <option value="MultiLine">Multi Line</option>
                            <option value="Integer">Integer</option>
                            <option value="CheckBox">CheckBox</option>
                        </select>
                    </div>
                }
            }
        </div>
    </div>
</div>
